.navbar {
    background-color: #262626;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #262626;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 100;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 100;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.nav-text a:hover {
    background-color: #0f0f0f;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #262626;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title{
    color: #f2f2f2;
    position: relative;
    padding-left: 0px;
    transition: 350ms;
}
.title.shift{
    margin-left: 200px;
    transition: 350ms;
}

span {
    margin-left: 16px;
}

.card{
    border-color: #0f0f0f;
}